/* Colors */
/* white #FFFFFF
black-logo #000000
accent-blue #2196F3
primary-text #212121
secondary-text #757575
hero-background #2F303A
team-background #F5F4FA
footer-background #2F303A */

:root {
  --primary-text-color: #212121, black;
  --secondary-text-color: #757575, gray;
  --accent-color: #2196f3, Cyan;
  --primary-white-color: #ffffff, white;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

footer {
  background-color: #2f303a;
}

/* ==========ELEMENTS========== */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* HEADER */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-span {
  color: var(--accent-color);
}

/* Navigation */
.nav-list-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.nav-list-link.current {
  color: var(--accent-color);
}

.contacts-item {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contacts-item:hover,
.contacts-item:focus {
  color: var(--accent-color);
}

/* ==========MAIN========== */
/* HERO */
.hero-background {
  background-color: #2f303a;
}

.hero-title {
  font-family: var(--primary-font-family);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.modal-btn {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.modal-btn:focus

/* Features */

.features-list-title {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.features-list-desc {
  font-family: var(--primary-font-family);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Activity and team */
.activity-title,
.team-title {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.section-team {
  background-color: #f5f4fa;
}

.team-subtitle {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-desc {
  font-family: var(--primary-font-family);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* ==========FOOTER======== */

.address {
  font-family: var(--primary-font-family);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--primary-white-color);
}

.address-item {
  font-family: var(--primary-font-family);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.address-item:hover,
.address-item:focus {
  color: var(--accent-color);
}

/* PORTFOLIO-SITE */
.btn-pagination {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: #f5f4fa;
  color: var(--primary-text-color);
}

.btn-pagination:hover,
.btn-pagination:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.portfolio-title {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-desc {
  font-family: var(--primary-font-family);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
